<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/public/javascripts/jQuery-3.4.1.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/public/stylesheets/common/login.css" />
</head>
<body>
    <div class="container">
        <div id="header">
            <span class="logo"><h1>绘儿乐公司信息管理系统</h1></span>
        </div>
        <div id="main-box">2</div>
        <div id="footer">3</div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div style="margin-left:40%;">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">绘儿乐公司信息管理系统</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>      
         </div>
      </div>
    </div> -->
</body>
</html>