html,body{margin:0;padding:0;}

#header {
    width: 100%;
    height: 8em;
}

.logo {
    margin: 2em 0 0 0;
    text-align: right;
}

#main-box {
    width: 100%;
    height:60%;
}

#footer {
    width: 100%;
    height: 20%;
}